@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    line-height: 2em;
}


.container > div {
    display: flex;
    justify-content: center;
    align-items: left;
    font-size: 2em;
    color: #ffeead;
  }
  
  html, body {
    box-sizing: border-box;
    background-color: #ffeead;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }
  
  .container > div:nth-child(1n) {
    background-color: #96ceb4;
    font-size: small;	
    display: inline;
    padding: 1em;

  }
  
  .container > div:nth-child(3n) {
    background-color: #88d8b0;
    font-size: medium;
    display: inline;
    padding: 1em;
  }
  
  .container > div:nth-child(2n) {
    background-color: #ff6f69;
    display: inline;
    padding: 1em;
  }
  
  .container > div:nth-child(4n) {
    background-color: #ffcc5c;
    display: inline;
    padding: 1em;
  }






@media (min-width: 320px) {
    main {
        font-size: 1.30em;
        line-height: 1.2em;
        margin: auto;
    }
}

@media (min-width: 768px) {
    main {
        font-size: 1.15em;
        line-height: 1.5em;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    main {
        font-size: 1em;
        line-height: 2em;
        margin: auto;
    }
}